@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}
@model List<Critere>;


           <div class="col-lg-6">
                        <div class="text-container">
                            <h1 class="h1-large">Deposer votre CV pour le poste de </h1>
                         
                          <!-- Log In Form -->
                            <form>
                                <div class="mb-4 form-floating">
                                    <input type="email" class="form-control" id="floatingInput" name="Nom" >
                                    <label for="floatingInput">Nom</label>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="password" class="form-control" id="floatingPassword">
                                    <label for="floatingPassword">Prenom</label>
                                </div>
                                  <div class="mb-4 form-floating">
                                    <input type="date" class="form-control" id="floatingDate">
                                    <label for="floatingDate">Date de naissance</label>
                                </div>
                                <div class="mb-4 form-check">
                                    @foreach (Critere critere in @ViewBag.listCritere)
                                    {
                                        <input type="text" class="form-control" id="floatingInput" value="@critere.nomCritere" readonly>
                                        <label for="floatingInput">@critere.nomCritere</label>

                                        <select class="form-control" >
                                            @foreach (var sousCritere in @ViewBag.listSousCritere)
                                            {
                                                <option value="@sousCritere.IdSousCritere">@sousCritere.nomSousCritere</option>
                                            }
                                        </select>
                                    }
                                </div>

                               
                                  <div class="mb-4 form-floating">
                                    <input type="password" class="form-control" id="floatingInput" placeholder="mail@example.com" name="email">
                                    <label for="floatingInput">Email</label>
                                </div>
                                <button type="submit" class="form-control-submit-button">Envoyer</button>
                            </form>
                            
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-lg-6">                      
                    </div> <!-- end of col -->

                   