@page
@model GRH.Views.FrontOffice.QCM

@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}
<style>
       
        
        .question {
            font-size: 20px;
            font-weight: bold;
        }
        
        .options label {
            display: block;
            margin-bottom: 10px;
        }
        
        .options input[type="radio"] {
            margin-right: 10px;
        }
        
        .btn-submit {
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
        
        .btn-submit:hover {
            background-color: #0056b3;
        }
    </style>
<body>
<div class="container mt-5">
    <h2>Phase de teste</h2>
    <form id="quizForm" method="post" action="https://localhost:7248/FrontOffice/submitQcm">
        <input type="hidden" name="idAnnonce" value="@ViewBag.idAnnonce"/>
        @foreach (Question question in @ViewBag.allQuestion)
        {
            <div class="question">@question.nom</div>
            <div class="options">
                @{
                    List<Reponse> allRep = Reponse.getReponseQuestion(question, Connect.connectDB());
                }
                @foreach (Reponse rep in allRep)
                {
                    <label>
                        <input type="checkbox" name="@question.idQuestion" value="@rep.idReponse" /> @rep.nom
                    </label>
                }
            </div>
        }
        <input type="submit" class="btn btn-submit" value="Soumetre">
    </form>
   
</div>

</body>
