
@{
    Layout = "~/Views/Shared/BackOfficeAccueil.cshtml";
}
<link rel="stylesheet" type="text/css" href="css/CreateAnnonce.css"/>
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5 form-container">
                    <h1>Liste des CV en entretien</h1> 
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénoms</th>
                            <th>Date de naissance</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>Sexe</th>
                            <th>Critère</th>
                            <th>Sous-critère</th>
                            <th>Date Entretien</th>
                            <th>Note Entretien</th>
                            <th>Ajouter Contrat d'essai</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Cv cv in @ViewBag.allCv)
                        {
                            <tr>
                                <td>@cv.client.nom</td>
                                <td>@cv.client.prenoms</td>
                                <td>@cv.client.dtn</td>
                                <td>@cv.client.email</td>
                                <td>@cv.client.adresse</td>
                                <td>@cv.client.sexe</td>
                                <td></td>
                                <td></td>
                                <td>@Cv.getDateEntretien(cv.client.idClient,ViewBag.ann.idAnnonce,Connect.connectDB())</td>
                                <td>@if (cv.client.note == 0)
                                    {
                                        <form method="post" action="https://localhost:7248/Home/saveNoteEntretien/">
                                            <input type="hidden" name="idCv" value="@cv.idCv"/>
                                            <input type="number" name="note"/>
                                            <input type="submit" value="OK"/>
                                        </form>
                                    }
                                    else
                                    {
                                        @cv.client.note
                                    }</td>
                                <td>
                                    @if (@Contrat.dejaContrat(cv, Connect.connectDB())==false)
                                    {
                                        <a href="https://localhost:7248/Home/toAddContratEssai?idClient=@cv.client.idClient&idAnnonce=@ViewBag.ann.idAnnonce">Ajouter Contrat Essai</a>   
                                    }
                                    else
                                    {
                                        <a>Deja!</a>
                                    }
                                </td>
                            </tr>
                            @foreach (var details in cv.sousCritere)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@details.critere.nomCritere</td>
                                    <td>@details.nomSousCritere</td>
                                    <td></td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                </div>
        </div>
    </div>
</div>

