
@{
    Layout = "~/Views/Shared/BackOfficeAccueil.cshtml";
}
<link rel="stylesheet" type="text/css" href="css/CreateAnnonce.css"/>
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5 form-container">
                    <h1>Liste des CV testé</h1>
                    @if (@ViewBag.ann.etat == 1)
                    {
                        <label for="numero">Coefficient passage Entretient :</label>
                        <input type="number" id="numero">
                        <p>Nombre de recrue: @ViewBag.ann.getNombreRecrue()</p>
                        <button onclick="calculer()">Calculer</button>
                        <p id="resultat"></p>
                   
                        <script>
                               function calculer() {
                                   var numero = parseFloat(document.getElementById("numero").value);
                                   var resultat = Math.round(numero * @ViewBag.ann.getNombreRecrue());
                                   document.getElementById("resultat").textContent = "Nombre de cv pouvant faire le test : " + resultat;
                                   document.getElementById("resultatHidden").value = resultat;
                               }
                           </script>
                   
                   
                        <form action="https://localhost:7248/Home/PassageEntretien/" method="post">
                            <input type="hidden" name="nbrtest" id="resultatHidden" value="" />
                            <input type="hidden" name="idAnnonce" value=" @ViewBag.ann.idAnnonce"/>
                            
                            <button type="submit" class="btn btn-primary">Voir Liste Entretien</button>
                        </form>
                    
                    }
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénoms</th>
                            <th>Date de naissance</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>Sexe</th>
                            <th>Critère</th>
                            <th>Sous-critère</th>
                            <th>Note Teste</th>
                           
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Cv cv in @ViewBag.allCv)
                        {
                            <tr>
                                <td>@cv.client.nom</td>
                                <td>@cv.client.prenoms</td>
                                <td>@cv.client.dtn</td>
                                <td>@cv.client.email</td>
                                <td>@cv.client.adresse</td>
                                <td>@cv.client.sexe</td>
                                <td></td>
                                <td></td>
                                 <td>@cv.client.note</td>
                            </tr>
                            @foreach (var details in cv.sousCritere)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@details.critere.nomCritere</td>
                                    <td>@details.nomSousCritere</td>
                                    <td></td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                </div>
        </div>
    </div>
</div>

