@{
    Layout = "~/Views/Shared/BackOfficeAccueil.cshtml";
}
@model List<Cv>

<body>
<h1>Liste des CV pouvant faire Entretien</h1>
<form action="https://localhost:7248/Home/saveEntretien" method="post">
    <input type="hidden" name="nbr" value="@ViewBag.nbr"/>
    <input type="hidden" name="idAnnonce" value="@ViewBag.idAnnonce"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénoms</th>
            <th>Date de naissance</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Sexe</th>
            <th>Critère</th>
            <th>Sous-critère</th>
            <th>Note</th>
            <th>Date Entretien</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cv in Model)
        {
            <tr>
                <td>@cv.client.nom</td>
                <td>@cv.client.prenoms</td>
                <td>@cv.client.dtn</td>
                <td>@cv.client.email</td>
                <td>@cv.client.adresse</td>
                <td>@cv.client.sexe</td>
                <td></td>
                <td></td>
                <td>@cv.client.note</td>
                <td><input type="datetime-local" name="@cv.idCv"/></td>
            </tr>
            @foreach (var details in cv.sousCritere)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@details.critere.nomCritere</td>
                    <td>@details.nomSousCritere</td>
                    <td></td>
                </tr>
            }
        }


        </tbody>
    </table>
    <input type="submit" value="Valider"/>
</form>
</body>
