@{
    Layout = "~/Views/Shared/BackOfficeAccueil.cshtml";
}
@model List<Question>

<body>
    <h1>Choisir les questions</h1>
    <form method="post" action="/Home/InsertionQCM">
        <input type="hidden" name="idAnnonce" value="@ViewBag.idAnnonce" />
        <input type="hidden" name="idService" value="@ViewBag.idService" />
        <input type="submit" value="Generer aleatoirement le questionnaire" />
    </form>
     <form method="post" action="/Home/InsertionQCM">
        <input type="hidden" name="idAnnonce" value="@ViewBag.idAnnonce" /> 
        @foreach (var question in Model)
        {
            <div>
                <input type="checkbox" name="questions" value="@question.idQuestion" id="question_@question.idQuestion" />
                <label for="question_@question.idQuestion">@question.nom</label>
            </div>
        }
            <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</body>
